@model NestAlbania.Data.ApplicationUserRole

@{
    ViewData["Title"] = "UserRoleCreate";
    var roles = ViewBag.Roles as IEnumerable<NestAlbania.Data.ApplicationRole>;
}

<h1>UserRoleCreate</h1>

<h4>ApplicationUserRole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserRoleCreate">
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />

            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control">
                    <option value="">Select</option>
                    @foreach (var role in roles)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}