@model IEnumerable<NestAlbania.Data.ApplicationUserRole>

@{
    ViewData["Title"] = "UserRoleIndex";
    var userId = ViewBag.UserId as string;
    var userName = ViewBag.UserName as string;
    var roleName = ViewBag.RoleName as string;
}

<h1>UserRoleIndex</h1>

<p>
    <a asp-action="UserRoleCreate" asp-route-userId="@userId">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                User Id
            </th>
            <th>
                Role Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @userName
                </td>
                <td>
                    @roleName
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                </td>
            </tr>
        }
    </tbody>
</table>
