@model NestAlbania.Models.AgentForCreationDto

@{
    ViewData["Title"] = "Create";
}

<div class="card mx-auto" style="max-width: 500px;">
    <div class="card-body">
        <h4 class="card-title">Create Agent</h4>
        <hr />

        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Name <span class="text-danger">*</span></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Surname" class="control-label">Surname <span class="text-danger">*</span></label>
                <input asp-for="Surname" class="form-control" autocomplete="off" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email <span class="text-danger">*</span></label>
                <input asp-for="Email" class="form-control" autocomplete="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">Password <span class="text-danger">*</span></label>
                <input type="password" asp-for="Password" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number <span class="text-danger">*</span></label>
                <input asp-for="PhoneNumber" class="form-control" autocomplete="off" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LicenseNumber" class="control-label">License Number <span class="text-danger">*</span></label>
                <input asp-for="LicenseNumber" class="form-control" type="number" min="0" autocomplete="off" />
                <span asp-validation-for="LicenseNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Motto" class="control-label">Motto</label>
                <input asp-for="Motto" class="form-control" autocomplete="off" />
                <span asp-validation-for="Motto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="YearsOfExeperience" class="control-label">Years of Experience <span class="text-danger">*</span></label>
                <input asp-for="YearsOfExeperience" class="form-control" type="number" min="1" autocomplete="off" />
                <span asp-validation-for="YearsOfExeperience" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Image" class="control-label">
                    <i class="fas fa-image"></i> Upload Main Image
                </label>
                <input type="file" asp-for="Image" class="form-control-file" accept=".jpg, .jpeg, .png, .svg" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-link">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
